@keyframes btn_color_change {
    from {background-color: #5aff1b;}
    to {background-color: #fff900;}
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    background-color: #6b8942;
}

header li {
    /*float: right;*/
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover {
    animation-name: btn_color_change;
    animation-duration: 2s;
    background-color: #fff900;
}

